(
    data: [
        (
            name: "An Introduction",
            path: "assets/levels/intro.ron",
        ),
        (
            name: "The Ascent",
            path: "assets/levels/stairs.ron",
        ),
        (
            name: "Buttoned Up",
            path: "assets/levels/bup.ron",
        ),
        (
            name: "Wait your Turn",
            path: "assets/levels/first_button.ron",
        ),
        (
            name: "Multitasking",
            path: "assets/levels/bdown.ron",
        ),
    ],
    start_at: 4,
)