(
    width: 5,
    height: 6,
    tiles: [
        10,10,10,10,10,
        10,4,10,4,10,
        10,4,10,4,10,
        4,10,10,10,4,
        4,4,10,4,4,
        4,4,10,4,4,
    ],
    tile_shapes: [
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
    ],
    tile_rots: [
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,0,
    ],
    heights: [
        2,2,2,2,2,
        2,0,2,0,2,
        2,0,2,0,2,
        0,2,2,2,0,
        0,0,2,0,0,
        0,0,2,0,0,
    ],
    created: false,
    ents: Some([
        (
            data: Start,
            pos: (
                x: 2,
                y: 3,
            ),
        ),
        (
            data: End,
            pos: (
                x: 2,
                y: 5,
            ),
        ),
        (
            data: Button((0)),
            pos: (
                x: 4,
                y: 2,
            ),
        ),
        (
            data: Button((0)),
            pos: (
                x: 0,
                y: 2,
            ),
        ),
        (
            data: Door((0)),
            pos: (
                x: 2,
                y: 4,
            ),
        ),
    ]),
    turn_limit: (11),
    ghost_limit: Some((2)),
)