(
    width: 4,
    height: 3,
    tiles: [
        0,0,0,0,
        0,0,0,0,
        0,0,0,0,
    ],
    tile_shapes: [
        0,0,0,0,
        0,0,0,0,
        0,0,0,0,
    ],
    heights: [
        4,4,4,4,
        2,2,2,2,
        0,0,0,0,
    ],
    created: false,
    ents: Some([
        (
            data: Start,
            pos: (
                x: 0,
                y: 1,
            ),
        ),
        (
            data: End,
            pos: (
                x: 3,
                y: 1,
            ),
        ),
    ]),
    turn_limit: (7),
    ghost_limit: Some((1)),
)